.menu {
	position: relative;
	width: 80vw;
	height: 80vh;
	border: solid goldenrod 2px;
	background: radial-gradient(circle, rgba(24, 24, 24, 1) 9%, rgba(21, 21, 21, 1) 50%, rgba(37, 37, 38, 1) 93%, rgba(33, 34, 34, 1) 100%);
	display: flex;
	top: 2%;
}

.headers {
	display: flex;
	flex-grow: 1;
}

.headerTab {
	border: 1px solid goldenrod;
	border-top: none;
	height: 10%;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.headerTab:nth-of-type(1) {
	border-left: none;
}

.headerTab:nth-of-type(3) {
	border-right: none;
}

.content {
	position: absolute;
	bottom: 0;
	color: white;
	height: 90%;
	width: 100%;
	padding: 10px;
	overflow-y: scroll;
}

.objectiveSection,
.typesOfCardsSection,
.battleGuideSection {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 90%;
	/* padding: 2%; */
}

.objectiveSection h3,
.typesOfCardsSection h3,
.battleGuideSection h3 {
	font-size: 1.5rem;
	margin: 10px auto 15px;
}

.objectiveSection p,
.typesOfCardsSection p,
.battleGuideSection p {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.typesOfCardsSection h5 {
	font-size: 1.2rem;
	margin: 10px 0;
	text-decoration: underline;
}

.backBtn {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
	border: 2px solid goldenrod;
	background: radial-gradient(circle, rgba(24, 24, 24, 1) 9%, rgba(21, 21, 21, 1) 50%, rgba(37, 37, 38, 1) 93%, rgba(33, 34, 34, 1) 100%);
	color: white;
	width: 100px;
	height: 35px;
}
