.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.backBtn {
	position: relative;
	top: 5%;
	height: 7%;
	width: 100%;
	max-width: 90%;
}

.switchBtn {
	margin-top: 10px;
	width: 90%;
	height: 7%;
	background-color: rgb(29, 29, 29);
	border: 2px solid goldenrod;
	color: white;
	padding: 2%;
	cursor: pointer;
}

.switchBtn:hover {
	color: goldenrod;
}
