@import url("https://fonts.googleapis.com/css2?family=My+Soul&family=Ubuntu:wght@300;400&display=swap");

.header {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 10%;
	height: 10vh;
	width: 100%;
	background-color: black;
	z-index: 5;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "My Soul";
	font-size: min(3.5vw, 1.5rem);

	letter-spacing: 0.3rem;
}

.header span {
	position: relative;
	left: 20px;
	font-size: 1rem;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.headerBtn {
	height: 40px;
	width: 100px;
	background-color: rgb(29, 29, 29);
	border: 2px solid goldenrod;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
}

.headerBtn:hover {
	color: goldenrod;
}
