.hand1,
.hand2 {
	width: fit-content;
	min-width: 250px;
	max-width: 960px;
	height: 200px;
	max-height: 115px;
	position: absolute;
	margin: auto;
	display: flex;
	align-items: center;
	z-index: 20;
}

.hand1 {
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.hand2 {
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.selectedCardSection {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: green;
	left: 0;
}

.cardDisplay {
	width: 300px;
	height: 300px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 60%;
	text-align: center;
}

.hide {
	display: none;
}
@media (min-width: 475px) {
	.hand1,
	.hand2 {
		height: 8rem;
	}
}

@media (min-width: 525px) {
	/* .hand1,
	.hand2 {
		justify-content: center;
		max-height: 130px;
	} */
}

@media (min-width: 800px) {
	.hand1,
	.hand2 {
		/* overflow: hidden; */
		height: 15rem;
		width: fit-content;
		/* width: 35rem; */
		/* max-width: 40rem; */
	}

	/* .hand1 div:hover,
	.hand2 div:hover {
		transform: translateY(-10px);
	} */
}

@media (min-width: 1100px) {
	.hand1,
	.hand2 {
		height: 12rem;
		max-height: 150px;
	}

	.cardDisplay {
		top: 50%;
	}
}
