.featuresContainer {
	gap: 0;
	justify-content: space-between;
	align-items: flex-start;
}

.list {
	list-style: none;
	text-align: left;
	margin: 0 0 0 5%;
}

.list p {
	font-size: 1.1rem;
	font-weight: bold;
	color: goldenrod;
}

.list li {
	color: white;
	margin: 5px 0;
}

.title {
	color: white;
	text-align: center;
	margin: 2% auto 0;
}

.featuresContainer button {
	margin: 10px auto;
	padding: 0;
	width: 100%;
}
