.leaderboardContainer {
	gap: 5%;
}

.leaderboard {
	position: relative;
	width: 90%;
	height: 95%;
	border: 2px solid goldenrod;
	max-width: 900px;
	margin: auto;
	overflow-x: auto;
}

.title {
	font-family: "My Soul";
	color: white;
}

.leaderboardHeader {
	display: flex;
	justify-content: space-around;
	border-bottom: 2px solid goldenrod;
}

.ranking {
	position: relative;
	display: grid;
	grid-template-columns: 50px 1fr 1fr 1fr;
	color: white;
	border-bottom: 2px solid goldenrod;
	padding: 5px 10px;
}

.ranking p {
	margin: 0;
	display: flex;
}

.ranking p:nth-of-type(3) {
	justify-content: center;
	margin-right: 20px;
}

.ranking p:nth-of-type(4) {
	justify-content: center;
	/* margin-right: 20px; */
}

.backBtn {
	margin-bottom: 20px;
}

.backBtn:hover {
	background-color: white;
	color: black;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 50%;
	border: 3px solid #fff;
	border-top-color: goldenrod;
	animation: spinner 0.6s linear infinite;
}
