.mainMenu {
	display: grid;
	width: 80%;
	height: 70%;
	grid-template-columns: 200px 1fr 1fr;
	grid-template-rows: 80px 1fr 1fr 100px;
	grid-gap: 1rem;
	grid-template-areas: "header header header" "sidebar content1 content1" "sidebar content2 content3" "footer footer footer";
}

.header {
	grid-area: header;
}

.header:hover,
.sidebar:hover,
.content1:hover,
.content2:hover,
.content3:hover,
.footer:hover {
	transform: scale(110%);
}

.sidebar {
	grid-area: sidebar;
}

.content1 {
	grid-area: content1;
}

.content2 {
	grid-area: content2;
}

.content3 {
	grid-area: content3;
}

.footer {
	grid-area: footer;
	grid-row: 4 / 5;
	grid-column: 1 / 4;
}

.item {
	background-color: #1eaafc;
	background-image: linear-gradient(130deg, #6c52d9 0%, #1eaafc 85%, #3edfd7 100%);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.2);
	color: white;
	border: 6px solid #171717;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
	transition: all 0.1s linear;
	cursor: pointer;
}

@media (max-width: 500px) {
	.mainMenu {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.mainMenu button {
		height: 20%;
	}
}
