.menu {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	/* border: 1px solid #fff; */
}

.matchInfo {
	display: flex;
}

.menuBar {
	width: 90%;
	height: 10%;
	border: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 30px;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.4);
}

.menuBar:hover {
	background: rgba(0, 0, 0, 1);
	border-color: goldenrod;
}

.menuBar:hover p {
	color: goldenrod;
}

.menuBar:active {
	transform: scale(0.95);
	background: rgba(0, 0, 0, 1);
	border-color: goldenrod;
	color: goldenrod;
}

.battlePhaseBar,
.endTurnBar,
.quitGameBar,
.closeMenuBar {
	color: white;
}

.currentTurn,
.currentPhase {
	color: white;
	margin-bottom: 50px;
}

.currentTurn {
	top: 10%;
}

.currentPhase {
	top: 20%;
}
